<!DOCTYPE html>
<html>

<head>
    <title>Post It</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }

        #header {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        #content {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin-top: 0;
        }

        p {
            margin-bottom: 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div id="header">
        <h1>Post It</h1>
    </div>
    <div id="content">
        <p>Welcome to Post It! This Post It API provides a variety of endpoints for interacting with social media data.
        </p>
        <h2>Documentation</h2>
        <p>For more information about the API and its endpoints, please refer to the <a
                href="/api/v1/docs">documentation</a>.
        </p>
        <h2>Support</h2>
        <p>If you encounter any issues or have questions about the API, please contact us at <a
                href="mailto:jonathancodes2@gmail.com">Jonathan</a>.</p>
    </div>
</body>

</html>