<%- include('partials/_header') -%>
    <h1>Account Deletion Confirmation from Post-It</h1>
    <p>Hi <%= name %>,</p>
    <p>We wanted to confirm that your Post-It account has been deleted successfully.</p>
    <p>If you did not intend to delete your account, please contact our support team immediately.</p>
    <p>Thank you for using Post-It. We hope to see you again soon.</p>
    <p>Best,</p>
    <p>The Post-It Team</p>
    <%- include('partials/_footer') -%>