<%- include('/partials/_header') -%>
    <h1>Password Change Confirmation from Post-It</h1>
    <p>Hi {{name}},</p>
    <p>We wanted to let you know that the password for your Post-It account was recently changed.</p>
    <p>If you did not authorize this change, please contact our support team immediately.</p>
    <p>If you did authorize the change, you can safely ignore this email.</p>
    <p>Thank you for using Post-It. If you have any questions or concerns, please don't hesitate to reach out to our
        support team.</p>
    <%- include('/partials/_footer') -%>