<%- include('partials/_header') -%>
    <h1>Successful Login on Post-It</h1>
    <p>Hi <%= name %>,</p>
    <p>We wanted to let you know that you have successfully logged in to your Post-It account. Welcome back!</p>
    <p>If you have any questions or concerns, please don't hesitate to reach out to our support team.</p>
    <%- include('partials/_footer') -%>